html {
	background-color: skyblue;
	#root {
		background-color: skyblue;
	}
}

.block {
	margin-top: 15px;
	margin-bottom: 15px;
}

.price {
	color: green;
}

.card-col {
	@media (min-width: 992px){
		flex: 0 0 20%!important;
    max-width: 20%!important;
	}
}


